
@media all and (min-width: 800px){
  main {
    margin-top: 50px;
  }
  .menu-icon {
    display: none;
  }

  .dropdown {
    .dropdown-content {
      -ms-transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      transform: none;
    }  
    &.is-active {
      .dropdown-content {
        -ms-transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;

        margin-top: 10px;
        text-align: left;
        transition: all 1.3s 0s;
      }  
    }
  }  

  .menu {
    visibility: visible;   
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.5s 0s;
    
    width: 100%;
    height: 58px;

    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .items {
      flex: 0 1 550px;
    }
    .search {
      width: unset;
      flex: 2 1 auto;
    }
    .element {
      float: left;
      margin: 4px;
      width: 95px;
      background-color: #ee0859;
    }
    .close-menu {
      display: none;
    }   
  }
}
